@page
@model FarmersLeague.UI.Pages.Players.AddPlayerModel
@{
    ViewData["Title"] = "Add a New Player";
}

<h1>Add a New Player to the League</h1>

<div asp-validation-summary="All" style="color:red; font-weight:bold;"></div>

<form method="post">
    <div>
        <label>Player Name:</label>
        <input type="text" asp-for="newPlayer.Name" required />
    </div>
    <br />

    <div>
        <label>Player Age:</label>
        <input type="number" asp-for="newPlayer.Age" required />
    </div>
    <br />

    <div class="form-group">
        <label>Player Position</label>
        <select asp-for="newPlayer.Position" asp-items="Html.GetEnumSelectList<FarmersLeague.ML.Player.Positions>()" class="form-control">
            <option value="">-- Select a Position --</option>
        </select>
    </div>
    <br />

    <div>
        <label>Base Attack (0-99):</label>
        <input type="number" asp-for="newPlayer.BaseAttack" required />
    </div>
    <br />

    <div>
        <label>Base Defence (0-99):</label>
        <input type="number" asp-for="newPlayer.BaseDefence" required />
    </div>
    <br />

    <div>
        <label>Player Market Value:</label>
        <input type="number" asp-for="newPlayer.MarketValue" step="any" required />
    </div>
    <br />

    <div>
        <label>Player Composure:</label>
        <input type="number" asp-for="newPlayer.Composure" required />
    </div>
    <br />

    <div>
        <label>Player Aggression:</label>
        <input type="number" asp-for="newPlayer.Aggression" required />
    </div>
    <br />

    <button type="submit">Save Player</button>
</form>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <h3 style="color:green;">@Model.Message</h3>
}