@page "{id:int}"
@model FarmersLeague.UI.Pages.EditAdminPlayersModel
@{
    ViewData["Title"] = "Edit Player";
}

<h1>Edit Player: @Model.PlayerToEdit.Name</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <!-- The form that sends data back to OnPost() -->


        <div asp-validation-summary="All" style="color:red; font-weight:bold;"></div>
        <form method="post">

            <!-- THE INVISIBLE BARCODE: Crucial so the database knows WHO to update -->
            <input type="hidden" asp-for="PlayerToEdit.PlayerID" />

            <div class="mb-3">
                <label>Name</label>
                <input type="text" asp-for="PlayerToEdit.Name" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Age</label>
                <input type="number" asp-for="PlayerToEdit.Age" class="form-control" />
            </div>


            <div class="mb-3">
                <label>Position</label>
                <select asp-for="PlayerToEdit.Position" class="form-control">
                    <option value="">-- Select a Position --</option>

                    @foreach (var positionName in Enum.GetNames(typeof(FarmersLeague.ML.Player.Positions)))
                    {
                        <option value="@positionName">@positionName</option>
                    }
                </select>
            </div>



            <div class="mb-3">
                <label>Base Attack</label>
                <input type="number" asp-for="PlayerToEdit.BaseAttack" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Base Defense</label>
                <input type="number" asp-for="PlayerToEdit.BaseDefence" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Market Value</label>
                <input type="number" step="0.1" asp-for="PlayerToEdit.MarketValue" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Composure</label>
                <input type="number" asp-for="PlayerToEdit.Composure" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Aggression</label>
                <input type="number" asp-for="PlayerToEdit.Aggression" class="form-control" />
            </div>


            <!-- submit button -->
            <button type="submit" class="btn btn-success">Save Changes</button>

            <!-- Cancel button redirects the user to previous page -->
            <a asp-page="/Players/AdminPlayers" class="btn btn-secondary">Cancel</a>
        </form>


        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <h3 style="color:green;">@Model.Message</h3>
        }
    </div>
</div>